body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url(imagens/praia.jpg);
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 70px;
}

a{
    text-decoration: none;
    color: black;
}

#formulario, #formulario2{
    background-color: rgba(173, 173, 173, 0.1);
    backdrop-filter: blur(10px) ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 50vh;
}

input{
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(207, 207, 207);
    background-color: rgba(255, 255, 255, 0.377);
}

.calcular{
    position: relative;
    width: 250px;
    height: 40px;
    background-color: rgb(46, 255, 185);
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}

.pagina{
    position: relative;
    width: 150px;
    height: 40px;
    background-color: rgb(46, 255, 185);
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}

.calcular:hover, .pagina:hover{
    transform: scale(1.1);
}

aside{
    position: absolute;
    justify-content: left;
    text-align: center;
    top: 90%;
    padding: 10px;
}
